@import 'base';
@import 'vendor/reset';
@import 'colors';

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
}

html,
body {
  color: $text-color;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
}

h1 {
  color: $text-color;
  font-size: 2em;
  font-weight: bolder;
  margin-top: 0.6em;
  margin-bottom: 1em;
}

a {
  color: #008cba;
  text-decoration: none;
  line-height: inherit;
}

a:hover, a:focus {
  color: #056888;
}
a:hover {
  cursor: pointer;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

input, select {
    border: 1px solid grey;
    border-radius: 5px;
    background-color: $field-back-color;
}
