.apvForm .widgetLabel,
.surgical-widgetLabel {
  min-width: 120px;
  font-size: 0.9em;
}

.apvForm select,
.apvForm input {
  width: 170px;
}

.apvForm textarea {
  display: block;
  height: 100px;
  width: 300px;
}

.apvForm .apv-gender-radio-container .widgetLabel {
  min-width: 10px;
}

.apvForm .apv-gender-radio-container input {
  width: 20px;
}

.apv-field-wrapper {
  //display: inline-block;
  padding : 5px;

  label {
    margin-right: 3px;
  }
}

.apv-error-span {
  font-size: 0.7em;
  padding-left: 2px;
  color: red;
}

.apvForm button {
  margin-top: 10px;
  font-size: 1em;
}
