@import '../styles/colors';
@import '../styles/measures';

.fuvRowOne {
  vertical-align: top;
  margin-bottom: $panel-spacing;
}

.fuvDiagnosisContainer {
  width: 50%;
  display: inline-block;
  vertical-align: top;
}

.fuvIntentStatusContainer {
  width: calc(50% - #{$panel-spacing});
  display: inline-block;
  vertical-align: top;
  margin-left: $panel-spacing;
}

.fuvIntentContainer {
  margin-bottom: $panel-spacing;
}

.fuvStatusContainer {}

.fuvRowTwo {
  display: block;
}

.fuvGraphContainer {
  vertical-align: top;
  min-width: 500px;
  margin-bottom: $panel-spacing;
}

.fuvPrertassessContainer {
  width: 100%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: $panel-spacing;
}

.fuvRowThree {
  display: table;
}

.fuvFollowupContainer {
  width: 100%;
  display: table-row;
  vertical-align: top;
}

input {
  text-align: center;
}

.fuvFollowUpPanel {
  border-top: none;
}

.fuvFollowupContainer .tabs {}
