@import '../styles/colors';

.fuvContainerTable {
  display: table;
  width: 100%;
}

.fuvRowOne {
  vertical-align: top;
  display: table-row;
}

.fuvDiagnosisContainer {
  width: 30%;
  display: table-cell;
  padding: 2px;
  vertical-align: top;
}

.fuvIntentStatusContainer {
  width: 30%;
  display: table-cell;
  padding: 2px;
  vertical-align: top;
}

.fuvStatusContainer {
  margin-top: 3px;
}

.fuvGraphContainer {
  padding: 2px;
  vertical-align: top;
  min-width: 500px;
}

.fuvRowTwo {
  display: block;
}

.fuvPrertassessContainer {
  width: 100%;
  display: inline-block;
  padding: 2px;
  vertical-align: top;
}

.fuvRowThree {
  display: table;
}

.fuvFollowupContainer {
  width: 100%;
  display: table-row;
  padding: 2px;
  vertical-align: top;
}

input {
  text-align: center;
}

.fuvFollowUpPanel {
  border-top: none;
}

.fuvFollowupContainer .tabs {
  margin-top: 5px;
}
