@import '../styles/colors';

.as-container {
  position: relative;
  height: 100%;
  h2 {
    font-size: 1.2em;
    padding: 10px;
  }
}

.as-s-field-container {
  margin: 10px 0 0 180px;
  label {
    font-size: 0.9em;
    font-weight: bold;
  }
}

.as-result-container {
  height: 100%;
}

.hv-patient-search-results h2 {
  font-size: 2.3125rem;
  margin-bottom: 0.2em;
}

.hv-patient-search-results h2 {
  font-size: 1.2em;
  margin-bottom: 0.2em;
  text-align: left;
  margin-left: 10px;
  color: $patient-subheading-color;
}

.hv-patient-search-results {
  margin: 5px 0 5px 0;
  width: 80%;
  position: absolute;
  float: right;
  list-style-type: none;
  a li {
    padding-bottom: 5px;
  }
  a li:hover {
    background-color: lighten($patient-subheading-color,55) !important;
  }
  a:nth-child(even) li {
    background-color: lighten($search-results-base,45);
  }
}

.hv-results {
  float: right;
  width: 85%;
}

.hv-result-filters {
  position: relative;
  display: inline-block;
  float: left;
  background-color: $patient-subheading-color;
  color: $patient-subheading-font-color;
  height: 100%;
  width: 15%;
  h2 {
    font-weight: normal;
    margin: 5px 5px 10px 5px;
    font-size: 0.8em;
    padding-right: 20px;
  }
  h3 {
    font-weight: bold;
    font-size: 0.7em;
    margin: 5px 0 2px 9px;
  }
  ul {
    margin: 5px 0 2px 15px;
    font-size: 0.8em;
  }
  li {
    margin-bottom: 5px;
    padding: 3px;
    margin-right: 20px;
    a {
      color: $patient-subheading-font-color;
    }
  }
  ul {
    list-style-type: none;
  }
}
