@import '../styles/measures';

.pv-patient-content {
  padding: 0 1em;
}

.pv-patient-content.pv-expanded {
  margin-left: $patient-sidemenu-width-expanded;
  width: calc(99% - $patient-sidemenu-width-expanded);
}

.pv-patient-content.pv-collapsed {
  margin-left: $patient-sidemenu-width-collapsed;
}

.pv-content-wrapper {
  margin-top: 5px;
}
