@import '../styles/colors';
@import '../styles/measures';

.radiotherapyContainer {
  width: 100%;
}

.radiotherapyRTList, .radiotherapyRTDetail {
  display: inline-block;
  width: calc(50% - #{$panel-spacing-half});
  vertical-align: top;
}

.radiotherapyRTList {
  margin-right: $panel-spacing-half;
}

.radiotherapyRTDetail {
  box-sizing: border-box;
  margin-left: $panel-spacing-half;
}

.radiotherapyRTDetail h3 {
  font-size: 1.2em;
  margin: 15px 0;
}

.radiotherapyRTDetail .widgetLabel {
  min-width: 160px;
}
