@import '../styles/colors';
@import '../styles/measures';

.radiotherapyRTList, .radiotherapyRTDetail {
  width: 100%;
  margin-bottom: $panel-spacing;
}

.radiotherapyRTDetail {
  box-sizing: border-box;
}

.radiotherapyRTDetail h3 {
  font-size: 1.2em;
  margin: 15px 0;
}

.radiotherapyRTDetail .widgetLabel {
  min-width: 160px;
}
