.fud-gs-result {
  width: 30px;
}

.fud-cores {
  width: 50px;
}

.fud-widget-group-one .widgetLabel {
  min-width: 110px;
}

.fud-widget-group-two .widgetLabel {
  min-width: 135px;
}

.fud-widget-group-two select, input {
  width: 150px;
}

.pv-expanded .fud-widget-group-one .widgetLabel {
  min-width: 70px;
}
