.fuprts-ipss, .fuprts-nocturia-input {
  width: 50px;
}

.fuprts-nocturia,
.fuprts-daytime-freq,
.fuprts-bowel-freq,
.fuprts-incontinence {
  margin-left: 30px !important;
}

.fuprts-bowel-freq-input {
  width: 65px;
}

.fuprts-incontinence-input {
  width: 50px;
}
