@import '../styles/colors';

.fufuTopLeftContainer {
  width: 40%;
  display: table-cell;
}

.fufuTopMiddleContainer {
  width: 30%;
  display: table-cell;
}

.fufuTopRightContainer {
  width: 30%;
  display: table-cell;
  padding-right: 2em;
}

.fufuTlcOne,
.fufuTlcTwo {
  display: table-cell;
  width: 50%;

}

.fufuTopRightContainer button {
  width: 100%;
}

.fufuSubPanelOne,
.fufuSubPanelTwo {
  display: inline-block;
  width: 50%;
}

.fufuSubPanelTwo {
  vertical-align: top;
}

.fufuSubHeadingTop {}

.fufuRowTwoContainer {
  display: table;
  width: 100%;
}

.fufuRowTwo {
  display: table-row;
  width: 100%;
}

.fufuCommentsContainer {
  width: 75%;
}

.fufuCommentsContainer textarea {
  display: block;
  margin-left: 0;
  width: 98%;
  height: 120px;
}

.fufuSecondCancerContainer {
  width: 100%;
}

.fufuAlphaBlockerLabel {
  display: inline !important;
}

.fufuSf {
  width: 4em;
}

.fufuTlcOne .widgetLabel,
.fufuTlcTwo .widgetLabel {
  display: block;
}

.fufuTlcTwo .inlineWidgetGroup .widgetWrapper {
  display: inline;
}

.fufuSubPanelOne .widgetLabel,
.fufuSubPanelTwo .widgetLabel {
  min-width: 130px;
}

.fufuSubPanelOne select,
.fufuSubPanelTwo select {
  width: 130px;
}

.fufuTlcTwo select {
  min-width: 60px;
}

.fufuQolContainer .widgetLabel {
  min-width: 110px;
}

.fufuTopMiddleContainer input {
  width: 50px;
}

.fufuHrqolContainer {
  margin-top: 1em;
}

.fufuHrqolContainer .widgetLabel {
  min-width: 75px;
}

.fufuDataimissingInfo {
  margin: 4px 0 4px 5px;
  font-size: 0.8em;
  font-style: italic;
  color: $secondary-text-color;
}

.fufuRowTwo .widgetLabel {
  min-width: 110px;
}

.fufuRowTwo select,
.fufuRowTwo input {
  width: 100px;
}
