.fudGSResult {
  width: 30px;
}

.fudCores {
  width: 50px;
}

.fudWidgetGroupOne .widgetLabel {
  min-width: 135px;
}

.fudWidgetGroupTwo .widgetLabel {
  min-width: 135px;
}

.fudWidgetGroupTwo select, input {
  width: 150px;
}

.pvExpanded .fudWidgetGroupOne .widgetLabel {
  min-width: 70px;
}
