@import '../styles/colors';
@import '../styles/core';

.dropdown {
  @extend .dropdown-generic;
  display: inline-block;
}

.dropdown.dropdown--active {
  -webkit-box-shadow: -2px 6px 11px 3px rgba(0,0,0,0.4);
  -moz-box-shadow: -2px 6px 11px 3px rgba(0,0,0,0.4);
  box-shadow: -2px 6px 11px 3px rgba(0,0,0,0.4);
}

.menu-drop-wrapper{
  display: inline-block;
  width: 100%;
}
