@import '../styles/colors';

.gsInput {
  font-size: 0.8em !important;
  width: 100%;
  padding: 6px;
  height: 38px;
  border-right: none;
}

.gsInput::-webkit-input-placeholder {
  text-transform: uppercase;
}
