@import '../styles/colors';

.gs-input-wrapper {
  display: inline-block;
  width: 100%;
  padding: 0;
  position: relative;
}

.gs-input-wrapper::after {
  background-color: $gh-box-fill-color;
  display: inline-block;
  font-family: FontAwesome;
  color: white;
  content: "\f002";
  padding: 8px 13px;
  height: 37px !important;
  top: 0;
  position: relative;
  border: 2px solid $gh-box-color;
  border-left: none;
}
