.demographicsPanel {
  position: relative;
  width: 100%;
}

.demographicsPanel .widgetLabel {
  min-width: 150px;
}

.demographicsGridPartOne {
  display: inline-block;
  width: 28%;
}

.demographicsGridPartTwo {
  display: inline-block;
  width: 44%;
}

.demographicsGridPartThree {
  display: inline-block;
  width: 28%;
}
