@import '../styles/measures';

.diagnosisPanel {
  position: relative;
  width: 100%;
  margin-bottom: $panel-spacing;
}

.diagnosisPanel .widgetLabel {
  min-width: 150px;
}

.diagnosisPanel .cbg .widgetLabel {
  min-width: 10px;
}

.diagnosisPanel .cbg input {
  width: 20px;
}

.diagnosisGridPart {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}

.diagnosisGridPartHeading {
  margin: 3px 0 0 3px;
}

.poFieldEMS {
  width: 40px;
}

.laterality, .anatomicalLoc, .cbgContainer {
  margin: 0.25em 0 0.25em 0;
}

.laterality, .anatomicalLoc {
  margin: 2px;
}
