@import '../styles/colors';

// Main container for Patient Header
.phContainer {
  background-color: $patient-heading-colour;
  color: $patient-heading-font-color;
  padding: 0.25em 0.25em 0.25em 1em;
  display: table;
  width: 100%;
}

// Container for profile image and large name text
.phIdentifierContainer {
  display: table-cell;
  vertical-align: middle;
}

// Large name text
.phBigField {
  height: 40px;
  font-size: 2em;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
  padding: 0 0 0.1em 0.5em;
}

// Profile image
.phProfileImageShowHideContainer {
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}

.phProfileImageContainer {
  width: inherit;
  text-align: center;
  display: inline-block;
  overflow: hidden;
}

.phProfileImageHelper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.phProfileImage {
  width: inherit;
  height: 40px;
  max-height: 40px;
  vertical-align: middle;
  border-radius: 50%;
  border: 2px solid $patient-heading-font-color;
}

// Container for other patient info
.phDetails {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.phField {
  display: inline-block;
  white-space: nowrap;
  min-width: 160px;
}

.phField label {
  font-weight: normal;
}

.phData {
  font-weight: bold;
}

@media (max-width: 1130px) {
  .phField {
    font-size: 0.9em;
    width: 12%;
  }
}
