@import '../styles/colors';

.phcDetailDownIcon {
  background-color: $patient-subheading-color;
  display: inline-block;
  width: 20px;
  position: absolute;
  text-align: center;
  padding-top: 2px;
  color: $patient-subheading-font-color;
}

.phcDetailDownIcon:hover {
  background-color: $button-hover-color;
  cursor: pointer;
}

.phcCollapsed,
.phcExpanded {
  display: inline-block;
  width: 100%;
}

.phcCollapsed {
  height: 20px;

  .phcDetailDownIcon {
    height: 20px;
  }
}

.phcExpanded {
  height: 100px;
  overflow: hidden;

  .phcDetailDownIcon {
    height: 100px;
    padding-top: 80px;
  }

  .phdContainer {
    font-size: 0.8em;
  }

  .phdHeaderLabel {
    font-weight: bold;
  }
}

.phcPhoneEmailDetails label {
  margin-top: 5px;
}

.phcPhoneEmailDetails label:first-child {
  margin-top: 0;
}

.phcPhoneEmailDetails span {
  font-weight: bold;
}
