@import '../styles/measures';

.treatmentPanel {
  position: relative;
  width: 100%;
  margin-bottom: $panel-spacing;
}

.treatmentGridPartLeft .widgetLabel {
  min-width: 110px;
}

.treatmentGridPartMiddle .widgetLabel {
  min-width: 125px;
}

.treatmentGridPartRight .widgetLabel {
  min-width: 140px;
}

.treatmentGridPartLeft,
.treatmentGridPartMiddle,
.treatmentGridPartRight  {
  display: inline-block;
  width: 33%;
}
