@import '../styles/colors';

.phd-container {
  background-color: $patient-subheading-color;
  display: inline-block;
  width: calc((100% / 5) - (20px / 5));
  white-space: nowrap;
  padding: 4px 10px;
  font-size: 0.7em;
  color: $patient-subheading-font-color;
  height: 100%;
  vertical-align: middle;
  box-sizing: border-box;
  border-right: 1px solid lighten($patient-subheading-color, 30);
}

.phd-header-data {
  font-weight: bold;
}

.phd-header-label {
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
}

.phd-details {
  padding-top: 10px;
  font-size: 1.1em;
  white-space: pre-line;

  ul li {
    list-style: none;
  }
}
