@import '../styles/colors';

.phd-container {
  background-color: $patient-subheading-color;
  display: inline-block;
  width: 19.8%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 4px 10px;
  font-size: 0.7em;
  color: $patient-subheading-font-color;
  height: 100%;
  vertical-align: middle;
}

.phd-header-data {
  font-weight: normal;
}

.phd-header-label {
  font-weight: bold;
  text-transform: uppercase;
}
