.diagnosis-panel {
  position: relative;
  width: 100%;
}

.diagnosis-grid-part {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}

.po-field-EMS {
  width: 40px;
}

.laterality, .anatomical-loc, .cbg-container {
  margin: 3px 0 3px 0;
}

.laterality, .anatomical-loc {
  margin: 2px;
}
