@import '../styles/colors';

.phc-container {
  background-color: $patient-subheading-color;
}

.phc-detail-down-icon {
  background-color: $patient-subheading-color;
  display: inline-block;
  width: 1%;
  position: absolute;
  height: 31px;
  color: $patient-subheading-font-color;
}



.phc-details {
  height: 31px;
}
