@import '../styles/colors';

.rtTimeframe{
  color: $secondary-text-color;
  font-size: 0.8em;
  font-style: italic;
  padding-bottom: 20px;
}

.rtFieldGeneral {
  width: 80px;
  margin-bottom: 0.1em;
}
