@import '../styles/measures';
@import '../styles/colors';

.smExpanded,
.smCollapsed {
  height: 100%;
  float: left;
  background-color: $patient-sidemenu-colour;
}

.smExpanded {
  width: $patient-sidemenu-width-expanded;
}

.smCollapsed {
  width: $patient-sidemenu-width-collapsed;
}

.smSpacer {
  height: 0px;
}

.smHeader {
  font-size: 1.1em;
  position: relative;
  height: 30px;
  background-color: $patient-sm-header;
  color: $patient-sm-header-font;
  line-height: 30px;
  padding-left: 8px;
}

.smContent {
  padding: 0;
  background-color: $patient-sm-background;
}

.smCollapsed .smHeader {
  padding: 0;
}

.smCollapsed .smHeader h3 {
  display: none;
}

.smHeader h3 {
  font-weight: normal;
  display: inline-block;
}

.smCollapsed .hideMenuIcon {
  margin-left: 0;
  padding: 0 2px;
  left: 4px;
  top: 4px;
  position: absolute;
}

.hideMenuIcon {
  background-color: #16918c;
  color: #f6f4f4;
  display: inline-block;
  font-size: 0.7em;
  line-height: 1.8em;
  text-transform: uppercase;
  padding: 0 10px;
  font-weight: bold;
  right: 5px;
  top: 4px;
  position: absolute;
}

.hideMenuIcon:hover {
  cursor: pointer;
  background-color: $patient-sm-background;
}
