@import '../styles/colors';

.smi-menu-item:first-child {
  margin-top: 0;
}

.smi-menu-item {
  padding: 0.3em;
  border-left: 3px solid $patient-sm-item-bar;
  margin-top: 5px;
  margin-bottom: 5px;
}

.smi-icon {
  margin-right: 0.3em;
}

.smi-menu-item a {
  color: $patient-sidemenu-link-colour;
}

.smi-menu-item a:hover {
  color: darken($patient-sidemenu-link-colour, 20);
}

.smi-active {
  background-color: $patient-sm-current-selection;
  color: $patient-sm-curr-selection-font;
}
