@import '../styles/measures';
@import '../styles/colors';

.sm-expanded,
.sm-collapsed {
  height: 100%;
  float: left;
  background-color: $patient-sidemenu-colour;
  padding: 0.2em;
}

.sm-expanded {
  width: $patient-sidemenu-width-expanded;
}

.sm-collapsed {
  width: $patient-sidemenu-width-collapsed;
}

.sm-header {
  font-size: 1.3em;
  position: relative;
  padding: 0.2em;
  border-bottom: 1px solid rgb(194, 194, 194);
  margin-bottom: 0.4em;
}

.sm-content {
  padding: 0.2em;
}

.sm-collapsed .sm-header h3 {
  display: none;
}

.sm-header h3 {
  display: inline-block;
}

.sm-collapsed .hide-menu-icon {
  position: relative;
  margin-left: 10px;
}

.hide-menu-icon {
  right: 5px;
  position: absolute;
}

.hide-menu-icon:hover {
  cursor: pointer;
}
