@import '../styles/colors';
@import '../styles/core';

.dropdown {
  @extend .dropdown-generic;
  display: inline-block;
}

.user-drop-wrapper{
  display: inline-block;
  width: 100%;
}

.dropdown__content {
  display: none;
  position: absolute;
}

.dropdown--active .dropdown__content {
  display: block;
}

.dropdown__content ul li {
  list-style-type: none;
}

.um-icon {
  background-color: $gh-box-fill-color;
}

.user-icon-container{
  float: left;
  margin-right: 3px;
}

.trigger-span {
  line-height: 20px;
  display: inline-block;
  padding: 6px;
}
